{
  "openapi": "3.0.1",
  "info": {
    "title": "DotAAS Part 2 | HTTP/REST | Entire API Collection",
    "description": "DotAAS Part 2 | HTTP/REST | Entire API Collection (ASP.NET Core 7.0)",
    "termsOfService": "https://github.com/admin-shell-io/aas-specs",
    "contact": {
      "name": "Industrial Digital Twin Association (IDTA)",
      "url": "https://github.com/swagger-api/swagger-codegen",
      "email": "info@idtwin.org"
    },
    "version": "V3.0.1"
  },
  "servers": [
    {
      "url": "https://preprodapim.umbrellaiot.com:9095"
    },
    {
      "url": "https://chessapim.umbrellaiot.com"
    }
  ],
  "paths": {
    "/api/v3.0/aas/submodels/{submodelIdentifier}/submodel-elements/$metadata": {
      "get": {
        "tags": [
          "AssetAdministrationShellAPIApi"
        ],
        "summary": "Returns all submodel elements including their hierarchy",
        "parameters": [
          {
            "name": "submodelIdentifier",
            "in": "path",
            "description": "The Submodel’s unique id (UTF8-BASE64-URL-encoded)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of elements in the response array",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A server-generated identifier retrieved from pagingMetadata that specifies from which position the result listing should continue",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "in": "query",
            "description": "Determines the structural depth of the respective resource content",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of found submodel elements",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.GetSubmodelElementsMetadataResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.GetSubmodelElementsMetadataResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.GetSubmodelElementsMetadataResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, e.g. the request parameters of the format of the request body is wrong.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "0": {
            "description": "Default error handling for unmentioned status codes",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": [ ]
          }
        ]
      }
    },
    "/api/v3.0/aas/submodels/{submodelIdentifier}/submodel-elements/$value": {
      "get": {
        "tags": [
          "AssetAdministrationShellAPIApi"
        ],
        "summary": "Returns all submodel elements including their hierarchy in the ValueOnly representation",
        "parameters": [
          {
            "name": "submodelIdentifier",
            "in": "path",
            "description": "The Submodel’s unique id (UTF8-BASE64-URL-encoded)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of elements in the response array",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A server-generated identifier retrieved from pagingMetadata that specifies from which position the result listing should continue",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "in": "query",
            "description": "Determines the structural depth of the respective resource content",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extent",
            "in": "query",
            "description": "Determines to which extent the resource is being serialized",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of found submodel elements in their ValueOnly representation",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.GetSubmodelElementsValueResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.GetSubmodelElementsValueResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.GetSubmodelElementsValueResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, e.g. the request parameters of the format of the request body is wrong.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "0": {
            "description": "Default error handling for unmentioned status codes",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": [ ]
          }
        ]
      }
    },
    "/api/v3.0/aas/submodel-refs": {
      "get": {
        "tags": [
          "AssetAdministrationShellAPIApi"
        ],
        "summary": "Returns all submodel references",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of elements in the response array",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A server-generated identifier retrieved from pagingMetadata that specifies from which position the result listing should continue",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested submodel references",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.GetReferencesResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.GetReferencesResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.GetReferencesResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.GetReferencesResult"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.GetReferencesResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, e.g. the request parameters of the format of the request body is wrong.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "0": {
            "description": "Default error handling for unmentioned status codes",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": [ ]
          }
        ]
      }
    },
    "/api/v3.0/aas": {
      "get": {
        "tags": [
          "AssetAdministrationShellAPIApi"
        ],
        "summary": "Returns a specific Asset Administration Shell",
        "responses": {
          "200": {
            "description": "Requested Asset Administration Shell",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.AssetAdministrationShell"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.AssetAdministrationShell"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.AssetAdministrationShell"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, e.g. the request parameters of the format of the request body is wrong.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "0": {
            "description": "Default error handling for unmentioned status codes",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": [ ]
          }
        ]
      }
    },
    "/api/v3.0/aas/asset-information": {
      "get": {
        "tags": [
          "AssetAdministrationShellAPIApi"
        ],
        "summary": "Returns the Asset Information",
        "responses": {
          "200": {
            "description": "Requested Asset Information",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.AssetInformation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.AssetInformation"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.AssetInformation"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.AssetInformation"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.AssetInformation"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, e.g. the request parameters of the format of the request body is wrong.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "0": {
            "description": "Default error handling for unmentioned status codes",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": [ ]
          }
        ]
      }
    },
    "/api/v3.0/aas/submodels/{submodelIdentifier}": {
      "get": {
        "tags": [
          "AssetAdministrationShellAPIApi"
        ],
        "summary": "Returns the Submodel",
        "parameters": [
          {
            "name": "submodelIdentifier",
            "in": "path",
            "description": "The Submodel’s unique id (UTF8-BASE64-URL-encoded)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "in": "query",
            "description": "Determines the structural depth of the respective resource content",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extent",
            "in": "query",
            "description": "Determines to which extent the resource is being serialized",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested Submodel",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Submodel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Submodel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Submodel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, e.g. the request parameters of the format of the request body is wrong.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "0": {
            "description": "Default error handling for unmentioned status codes",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": [ ]
          }
        ]
      }
    },
    "/api/v3.0/aas/submodels/{submodelIdentifier}/submodel-elements/{idShortPath}": {
      "get": {
        "tags": [
          "AssetAdministrationShellAPIApi"
        ],
        "summary": "Returns a specific submodel element from the Submodel at a specified path",
        "parameters": [
          {
            "name": "submodelIdentifier",
            "in": "path",
            "description": "The Submodel’s unique id (UTF8-BASE64-URL-encoded)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idShortPath",
            "in": "path",
            "description": "IdShort path to the submodel element (dot-separated)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "in": "query",
            "description": "Determines the structural depth of the respective resource content",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extent",
            "in": "query",
            "description": "Determines to which extent the resource is being serialized",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested submodel element",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.SubmodelElement"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.SubmodelElement"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.SubmodelElement"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, e.g. the request parameters of the format of the request body is wrong.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "0": {
            "description": "Default error handling for unmentioned status codes",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": [ ]
          }
        ]
      }
    },
    "/api/v3.0/aas/submodels/{submodelIdentifier}/submodel-elements/{idShortPath}/$metadata": {
      "get": {
        "tags": [
          "AssetAdministrationShellAPIApi"
        ],
        "summary": "Returns the metadata attributes if a specific submodel element from the Submodel at a specified path",
        "parameters": [
          {
            "name": "submodelIdentifier",
            "in": "path",
            "description": "The Submodel’s unique id (UTF8-BASE64-URL-encoded)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idShortPath",
            "in": "path",
            "description": "IdShort path to the submodel element (dot-separated)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "in": "query",
            "description": "Determines the structural depth of the respective resource content",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested submodel element",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.SubmodelElementMetadata"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.SubmodelElementMetadata"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.SubmodelElementMetadata"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, e.g. the request parameters of the format of the request body is wrong.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "0": {
            "description": "Default error handling for unmentioned status codes",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": [ ]
          }
        ]
      }
    },
    "/api/v3.0/aas/submodels/{submodelIdentifier}/submodel-elements/{idShortPath}/$value": {
      "get": {
        "tags": [
          "AssetAdministrationShellAPIApi"
        ],
        "summary": "Returns a specific submodel element from the Submodel at a specified path in the ValueOnly representation",
        "parameters": [
          {
            "name": "submodelIdentifier",
            "in": "path",
            "description": "The Submodel’s unique id (UTF8-BASE64-URL-encoded)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idShortPath",
            "in": "path",
            "description": "IdShort path to the submodel element (dot-separated)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "in": "query",
            "description": "Determines the structural depth of the respective resource content",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested submodel element in its ValueOnly representation",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.SubmodelElementValue"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.SubmodelElementValue"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.SubmodelElementValue"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, e.g. the request parameters of the format of the request body is wrong.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "0": {
            "description": "Default error handling for unmentioned status codes",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": [ ]
          }
        ]
      }
    },
    "/api/v3.0/aas/submodels/{submodelIdentifier}/$metadata": {
      "get": {
        "tags": [
          "AssetAdministrationShellAPIApi"
        ],
        "summary": "Returns the Submodel's metadata elements",
        "parameters": [
          {
            "name": "submodelIdentifier",
            "in": "path",
            "description": "The Submodel’s unique id (UTF8-BASE64-URL-encoded)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "in": "query",
            "description": "Determines the structural depth of the respective resource content",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested Submodel",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.SubmodelMetadata"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.SubmodelMetadata"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.SubmodelMetadata"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, e.g. the request parameters of the format of the request body is wrong.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "0": {
            "description": "Default error handling for unmentioned status codes",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": [ ]
          }
        ]
      }
    },
    "/api/v3.0/aas/submodels/{submodelIdentifier}/$reference": {
      "get": {
        "tags": [
          "AssetAdministrationShellAPIApi"
        ],
        "summary": "Returns the Submodel as a Reference",
        "parameters": [
          {
            "name": "submodelIdentifier",
            "in": "path",
            "description": "The Submodel’s unique id (UTF8-BASE64-URL-encoded)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "in": "query",
            "description": "Determines the structural depth of the respective resource content",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested Submodel as a Reference",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Reference"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Reference"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Reference"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Reference"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Reference"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, e.g. the request parameters of the format of the request body is wrong.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "0": {
            "description": "Default error handling for unmentioned status codes",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": [ ]
          }
        ]
      }
    },
    "/api/v3.0/aas/submodels/{submodelIdentifier}/$value": {
      "get": {
        "tags": [
          "AssetAdministrationShellAPIApi"
        ],
        "summary": "Returns the Submodel's ValueOnly representation",
        "parameters": [
          {
            "name": "submodelIdentifier",
            "in": "path",
            "description": "The Submodel’s unique id (UTF8-BASE64-URL-encoded)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "in": "query",
            "description": "Determines the structural depth of the respective resource content",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extent",
            "in": "query",
            "description": "Determines to which extent the resource is being serialized",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requested Submodel",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.SubmodelValue"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.SubmodelValue"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.SubmodelValue"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, e.g. the request parameters of the format of the request body is wrong.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "0": {
            "description": "Default error handling for unmentioned status codes",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": [ ]
          }
        ]
      }
    },
    "/api/v3.0/aas/submodels/{submodelIdentifier}/submodel-elements/{idShortPath}/invoke/$value": {
      "post": {
        "tags": [
          "AssetAdministrationShellAPIApi"
        ],
        "summary": "Synchronously invokes an Operation at a specified path",
        "parameters": [
          {
            "name": "submodelIdentifier",
            "in": "path",
            "description": "The Submodel’s unique id (UTF8-BASE64-URL-encoded)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idShortPath",
            "in": "path",
            "description": "IdShort path to the submodel element (dot-separated)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Operation request object",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/IoT.Services.DataSpecificationIEC61360"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IoT.Services.DataSpecificationIEC61360"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/IoT.Services.DataSpecificationIEC61360"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/IoT.Services.DataSpecificationIEC61360"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation result object",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.OperationResultValueOnly"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.OperationResultValueOnly"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.OperationResultValueOnly"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.OperationResultValueOnly"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.OperationResultValueOnly"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, e.g. the request parameters of the format of the request body is wrong.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "0": {
            "description": "Default error handling for unmentioned status codes",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": [ ]
          }
        ]
      }
    },
    "/register": {
      "delete": {
        "tags": [
          "CHESSNetwork"
        ],
        "summary": "Remove a registered CHESS / CHESS adapter",
        "description": "Remove a registered CHESS from a CHESS node",
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IoT.Services.ChessAdapter"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IoT.Services.ChessAdapter"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IoT.Services.ChessAdapter"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "404": {
            "description": "not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "0": {
            "description": null,
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": [ ]
          }
        ]
      },
      "post": {
        "tags": [
          "CHESSNetwork"
        ],
        "summary": "Register CHESS assets using a CHESS adapter with the digital twin environment",
        "description": "Register CHESS with a CHESS node and update the digital twin",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chessnode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IO.Swagger.Controllers.CHESS"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IoT.Services.Chess"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "404": {
            "description": "not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          },
          "0": {
            "description": null,
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": [ ]
          }
        ]
      }
    },
    "/chess/1.0/register": {
      "delete": {
        "tags": [
          "CHESSNetwork"
        ],
        "summary": "Remove a registered CHESS / CHESS adapter",
        "description": "Remove a registered CHESS from a CHESS node",
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IoT.Services.ChessAdapter"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IoT.Services.ChessAdapter"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IoT.Services.ChessAdapter"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IO.Swagger.Models.Result"
[...]
